AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: >
    to_be_deleted

    Sample SAM Template for to_be_deleted

Parameters:
    OriginalBucketName:
        Default: ruby-lambda-prototype-images-originals
        Type: String

    ResizesBucketName:
        Default: ruby-lambda-prototype-images-resized
        Type: String


Resources:
    ImageResizerOriginalBucket:
        Type: AWS::S3::Bucket
        Properties:
            BucketName:
                Ref: OriginalBucketName
    ImageResizerResizedBucket:
        Type: AWS::S3::Bucket
        Properties:
            BucketName:
                Ref: ResizesBucketName
    ImageResizerFunction:
        Type: AWS::Serverless::Function # More info about Function Resource: https://github.com/awslabs/serverless-application-model/blob/master/versions/2016-10-31.md#awsserverlessfunction
        Properties:
            CodeUri: image_resizer/
            Handler: app.lambda_handler
            Runtime: ruby2.5
            Timeout: 180
            MemorySize: 1024
            Environment:
                Variables:
                    RESIZED_IMAGES_BUCKET:
                        Ref: ResizesBucketName
                    ORIGINAL_IMAGES_BUCKET:
                        Ref: OriginalBucketName
            Events:
                ObjectCreationEvent:
                    Type: S3
                    Properties:
                        Bucket:
                            Ref: ImageResizerOriginalBucket
                        Events: 's3:ObjectCreated:*'

Outputs:
    ImageResizerOriginalBucket:
        Description: 'Bucket for the original images'
        Value: !GetAtt ImageResizerOriginalBucket.Arn

    ImageResizerResizedBucket:
        Description: 'Bucket for the resized images'
        Value: !GetAtt ImageResizerResizedBucket.Arn

    ImageResizerFunction:
      Description: "Image Resizer Lambda Function ARN"
      Value: !GetAtt ImageResizerFunction.Arn

    ImageResizerFunctionIamRole:
      Description: "Implicit IAM Role created for Image Resizer function"
      Value: !GetAtt ImageResizerFunctionRole.Arn
